@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

/* Style for main */
.weather-card {
    width: 300px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    margin: 20px auto;
    height: 600px;
    font-family: 'Nunito', sans-serif;
    color: #f1f1f1; 
}

/* Style for title */
.weather-card__title {
    color: #f1f1f1;
}

/* Style for city search input */
.weather-card__input {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    transition: border-color 0.3s;
    font-family: 'Nunito', sans-serif; 
    color: #333;
}

.weather-card__input:focus {
    border-color: #333;
}

/* Style for weather info list */
.weather-info {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style for weather info list items */
.weather-info__item {
    margin-bottom: 5px;
    font-size: 16px;
    color: #f1f1f1;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

