.weather-card_mateo {
    background-color: rgba(0, 30, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    margin: 20px auto;
    height: 600px;
    font-family: 'Nunito', sans-serif;
    color: #f1f1f1;
}

.containerStore-mateo {
    display: flex;
    flex-wrap: wrap;
}

.cityStore-mateo {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    color: #333;
}

.cities-card-mateo {
    width: 300px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: rgba(0, 30, 0, 0.5);
    backdrop-filter: blur(10px);
    margin: 20px auto;
    height: 200px;
    font-family: 'Nunito', sans-serif;
    color: #f1f1f1;
}
